/*金融*/
.accounts{width:100%;}
.accounts_left{width:200px;position:fixed; left:0;top:0;bottom:0;border-right:1px solid #009688;overflow-x:hidden;}
.accounts_left  h3{font-size:14px;height:30px; line-height:30px; background:#f8f8f8;text-align:center;}
.accounts_left>ul{width:100%;}
.accounts_left>ul a{display:block;height:36px;line-height:36px;border-bottom:1px solid #e6e6e6; cursor:pointer;}
.accounts_left>ul a.active{background:#009688;color:#fff;}
.accounts_left>ul>li{width:100%;line-height:36px;}
.accounts_left>ul>li>a{padding-left:10px;}
.accounts_left>ul>li>ul>li>a{padding-left:30px;}
.accounts_left>ul>li>ul>li>ul>li>a{padding-left:50px;}


.accounts_time{width:199px; position:fixed;left:201px; top:0;bottom:0;border-right:1px solid #009688;overflow-x:hidden;}
.accounts_time h3{font-weight:inherit;font-size:13px; background:#f8f8f8; height:30px; line-height:30px; text-align:center; position:relative;}
.accounts_time h3 #functionButtonPlus{position:absolute; right:8px;top:0; z-index:1000; color:#666; font-weight:inherit; cursor:pointer;font-size:12px;}
.layui-tab-title{height:auto;}
.accounts_time .layui-tab-title li{display:block; float:left; width:199px;padding:0;height:36px;line-height:36px;}
.accounts_time .layui-tab-bar{ display:none;}
.accounts_time .layui-tab{margin:0;}
.accounts_time .layui-tab-title{border:0;}
.accounts_time .layui-tab-title .layui-this{background-color:#009688; color:#fff;}
.accounts_time .layui-tab-title .layui-this:after{border-bottom:1px solid #e6e6e6; height:36px;}

.accounts_top{ position:fixed;left:401px; top:0; width:1200px;z-index:100}
.accounts_right{ position:fixed;left:400px;top:210px;bottom:0; overflow-x:hidden; right:0;}/*1260  显示出滚动条*/

































